tqdm
spacy
scikit-learn
jsonlines
transformers
filelock
datasets
nltk
dataclasses
sacrebleu
rouge_score
flash-attn
einops
sentencepiece
deepspeed
accelerate
peft
bitsandbytes
evaluate
tokenizers
tensorboard
openai
tiktoken